a {
  color: rgb(0, 229, 153);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #eee;
  font-family: monospace;
}

pre {
  background-color: #242424;
  color: rgb(0, 229, 153);
  font-family: monospace;
  padding: 10px;
  border-radius: 10px;
}
